.btn {
    display: block;
    color: black;
    width: 20vh;
    height: 20vh;
    margin: 30vh calc(50% - 10vh) 0;
    border: 3px solid white;
    font-family: 'Comme', sans-serif;
    font-size: 2rem;
    border-radius: 100%;
    transition: background-color .9s ease-in, width 3.5s, height 3.5s, margin 3.5s;
    cursor: pointer;
}

.btn:hover {
    color: white;
    background-color: #242424;
}

.green:active,
.green:hover {
    color: white;
    background-color: #4DA1A9;
}

.red:active,
.red:hover {
    color: white;
    background-color: #611C35;
}

.blue:active,
.blue:hover {
    color: white;
    background-color: #2E5077;
}

.orange:active,
.orange:hover {
    color: white;
    background-color: #FFA630;
}

.greenYellow {
    color: black;
    background-color: #D7E8BA;
}

.longRectVertLeft {
    width: 20vh;
    height: calc(80vh - 8px);
    margin: 4px 0 4px 4px;
}

.longRectVertRight {
    width: 20vh;
    height: calc(80vh - 8px);
    margin: 4px 4px 4px calc((100% - 16px - 20vh));
}

.longRectVertCenter {
    width: 20vh;
    height: calc(80vh - 8px);
    margin: 4px calc(50% - 10vh);
}

.wideRectCenter {
    width: calc(100% - 16px);
    height: 20vh;
    margin: calc((80vh - 20vh - 8px) / 2) 4px 0;
}

.wideRectTop {
    width: calc(100% - 16px);
    height: 20vh;
    margin: 4px 4px 0;
}

.wideRectBottom {
    width: calc(100% - 16px);
    height: 20vh;
    margin: calc(80vh - 20vh - 8px) 4px 0;
}