body {
  background-color: #d7e8ba;
  font-family: 'Comme', sans-serif;

  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

main {
  background-color: #242424;
  width: 100% - 8px;
  height: 80vh;
  border: 10px solid #611C35;
}